<ion-side-menus>

    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-stable nav-title-slide-ios7">
            <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left">
        <header class="bar bar-header bar-stable">
            <h1 class="title">Menu</h1>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/home">
                   <i class="ion-home" ></i> Home
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/settings">
                    <i class="ion-gear-a" ></i> Settings
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/collections">
                    <i class="ion-ios7-eye" ></i> Browse collections
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/latest">
                   <i class="ion-folder" ></i> Latest items
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/search">
                   <i class="ion-android-search" ></i> Search
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/favorites">
                     <i class="ion-star" ></i> Favorites
                </ion-item>
                <ion-item nav-clear menu-close ng-click="login()">
                    <i class="ion-paper-airplane " ></i> FeedBack
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/about_us">
                     <i class="ion-ios7-people" ></i> About us
                </ion-item>

            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
