<ion-view title="Settings">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">

        <h2>
            <div class="list">

                <div class="item item-input-inset">
                    URL:
                    <label class="item-input-wrapper">
                        <input type="text" placeholder="Type...">
                    </label>
                    <button class="button button-small">
                        Enter
                    </button>
                </div>

            </div>
        </h2>
    </ion-content>
</ion-view>
