.bar.bar-stable {
background-color: #003D66;
}

.item-complex .item-content {
background-color: #FFFFFF;
}

.menu.menu-left {
background-color: #003D66;
}

div .item {
background-color: #FFFFFF;
}

.button.button-icon {
color:white;
}